
<div class="profile-container">
  <div class="profile-top">
    <%= cl_image_tag @profile.profile_picture.key, width: 200, height: 200, crop: "fill", class: "rounded-circle" %>
    <h1><%= @profile.username %></h1>
    <p><%= @profile.bio %></p>
    <div class="profile-stats"><i class="fa-solid fa-trophy"></i> stats go here</div>
  </div>

  <div class="profile-friends">
    <% if @profile.user != current_user  %>
      <%= link_to "Add to friends list", profile_friendships_path(@profile), data: {turbo_method: :post}, class: "btn btn-primary" %>

    <% elsif Friendship.where(asker: current_user.profile).exists? %>
      <p>Your friends:</p>

      <div class="friend-card">
        <% @friendships.each do |friendship| %>
        <% if Profile.where(user_id: friendship.receiver.user_id).exists? %>
          <%= cl_image_tag(friendship.receiver.profile_picture.key, width: 40, height: 40, crop: "fill", class: "rounded-circle") %>
        <% else %>
          picture
        <% end %>
        <%= link_to friendship.receiver.username, profile_path(friendship.receiver), class: "link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" %></h3>
      </div>
    <% end %>

    <% end %>
  </div>

</div>
