<div class="game-bg"></div>
<div class="game-container"
  data-controller="game-subscription"
  data-game-subscription-game-id-value="<%= @game.id %>">
  <div class="board-container">

    <div class="player-info">
       <p class="player-header" data-game-subscription-target="opponent">
        <%if @game.black.present? %>
          <%= link_to @opponent.profile.username, profile_path(@opponent.profile), class: "player-header" %>
        <% else %>
          <%= "Waiting for opponent..." %>
        <% end %>
        </p>
    </div>

    <div class="board-container"
      data-controller="board-subscription"
      data-board-subscription-board-id-value="<%= @board.id %>"
      data-board-subscription-target="board"
      data-board-subscription-current-user-id-value="<%= current_user.id %>"
      data-board-subscription-white-user-id-value="<%= @game.white_id %>"
      data-board-subscription-black-user-id-value="<%= @game.black_id %>"
      data-board-subscription-board-state-value="<%= @board.board_state %>" >

      <% if current_user.id == @game.white_id %>
        <%= render partial: "board", locals: { game: @game, board: @board } %>
      <% else %>
        <%= render partial: "boardblack", locals: { game: @game, board: @board } %>
      <% end %>

    </div>


  <div class="player-info">
    <p class="player-header">You</p>
  </div>

</div>

<div class="bottom-btns">
  <div class="chat-container" data-controller="chat-modal">
      <button class="chat-popup-btn" data-chat-modal-target="button" data-action="click->chat-modal#openChat"><i class="fa-solid fa-comment"></i></button>

    <div class="chat-modal d-none"
      data-chat-modal-target="popup" >
      <%= render partial: "chatroom", locals: { chatroom: @chatroom, message: @message, opponent: @opponent, current_user: current_user } %>
      <button class="chat-close-btn" data-chat-modal-target="button" data-action="click->chat-modal#openChat"><i class="fa-regular fa-circle-xmark"></i></button>
    </div>
  </div>

  <div class="quit-container" data-controller="quit-modal">
    <button class="quit-btn" data-quit-modal-target="button" data-action="click->quit-modal#toggleQuitMenu"><i class="fa-solid fa-circle-xmark"></i></button>

    <div class="quit-modal d-none" data-quit-modal-target="popup">
      <%= render partial: "quit", locals: { game: @game } %>
      <button class="quit-close-btn" data-quit-modal-target="button" data-action="click->quit-modal#toggleQuitMenu"><i class="fa-regular fa-circle-xmark"></i></button>
    </div>
  </div>
</div>
