<%# <div class="container text-center">
  <h1 class="new-header">NEW GAME</h1>
</div> %>

<div class="board-container">

  <div class="player-info">
    <%= cl_image_tag(Profile.find(31).profile_picture.key, width: 40, height: 40, crop: "fill", class: "rounded-circle", alt: "dropdown menu") %>
    <p class="new-header"><%= Profile.find(31).username %></p>
  </div>

  <div class="chessboard">
      <%# <div>
          <div></div><div>a</div><div>b</div><div>c</div><div>d</div><div>e</div><div>f</div><div>g</div><div>h</div>
      </div> %>
      <div>
          <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
      </div>
      <div>
          <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
      </div>
      <div>
          <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
      </div>
      <div>
          <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
      </div>
      <div>
          <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
      </div>
      <div>
          <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
      </div>
      <div>
          <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
      </div>
      <div>
          <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
      </div>
  </div>

  <div class="player-info">
    <p class="new-header"><%= current_user.profile.username %></p>
    <%= cl_image_tag(current_user.profile.profile_picture.key, width: 40, height: 40, crop: "fill", class: "rounded-circle", alt: "dropdown menu") %>
  </div>

  <%# <div class="footer">
    <i class="fa-regular fa-comment"></i>
  </div> %>

<%= link_to "Chat", game_chatroom_path(@game, @chatroom) %>
