<!DOCTYPE html>
<html>
  <head>
    <title>Chess Nexus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:image" content="https://res.cloudinary.com/dy3qbninr/image/upload/v1711614037/chessnexus_qre5s2.jpg"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag("https://cdn.pixabay.com/photo/2012/04/18/00/42/chess-36310_1280.png") %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/flashes" %>
    <%= render "shared/navbar" %>
    <div class="navbar"></div>
    <%= yield %>
  </body>
</html>
